<!--<html>-->
<!--    <head>-->
<!--        <title>Views</title>-->
<!--    </head>-->
<!--    <body>-->
<!--        <h1>Single Article View</h1>-->
<!--        <%= request.article.title %>-->
<!--        <%= request.article.content %>-->
<!--    </body>-->
<!--</html>-->